global:
  checkNewVersion: false
  sendAnonymousUsage: false
  
log:
  level: DEBUG
  filePath: "/etc/traefik/logs/traefik.log"

api:
  dashboard: false

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    network: app-network
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: na@na.com
      storage: /var/traefik/certs/cloudflare-acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"